<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xxl.modelweb">

    <uses-permission android:name="android.permission.INTERNET"/>

<!--
    Manifest 是不作为libray 给其他工程使用的 情况下 也就是 modole 可以独立运行的情况下 加载这个清单文件

       配置为 build.gradle 里面的
      if (isLibrary.toBoolean()) {
                manifest.srcFile 'src/main/module/AndroidManifest.xml'
                //集成开发模式下排除debug文件夹中的所有Java文件
                java {
                    exclude 'debug/**'
                }
            } else {
                manifest.srcFile 'src/main/AndroidManifest.xml'
            }
-->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SimpleWebViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>